/* =========================
*
*   CSS UTILITIES
*   .cstm  (prefix)
*
============================= */

/* ========
*   MARGIN
*  ========*/

.cstm-margin-auto{
    margin: auto !important;
}

/* ========
*   WIDTH
*  ========*/
.cstm-w100{
    width: 100% !important;
}

.cstm-w90{
    width: 90% !important;
}

.cstm-w80{
    width: 80% !important;
}

/* ========
*   HEIGHT
*  ========*/
.cstm-h100{
    height: 100% !important;
}